<li class="nav-item">
    <a class="nav-link collapsed text-truncate
    @Html.ActiveClass("JBahagian")
    @Html.ActiveClass("JAgama")
    @Html.ActiveClass("JBangsa")
    @Html.ActiveClass("JNegeri")
    @Html.ActiveClass("JCawangan")
    @Html.ActiveClass("JKategoriPCB")
    " href="#submenuJadual" data-toggle="collapse" data-target="#submenuJadual"><img src="~/img/svg/jadual.svg" class="fa fa-pull-left fa-0 icon-bar"><span>&nbsp; Jadual</span></a>
    <div class="collapse" id="submenuJadual" aria-expanded="false">
        <ul class="flex-column ps-2 nav">

            <li class="nav-item">
                <a class="nav-link border-bottom text-truncate collapsed py-1 ms-3
                @Html.ActiveClass("JBahagian")
                @Html.ActiveClass("JKategoriPCB")
                   " href="#submenuJadualsub1" data-toggle="collapse" data-target="#submenuJadualsub1"><span>Pengurusan</span></a>
                <div class="collapse" id="submenuJadualsub1" aria-expanded="false">
                    <ul class="flex-column nav ps-4">
                        <li class="nav-item">
                            <a class="nav-link p-1 text-truncate ps-4 @Html.ActiveSideBarClass("JBahagian")" asp-area="" asp-controller="JBahagian" asp-action="Index">
                                Bahagian
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-1 text-truncate ps-4 @Html.ActiveSideBarClass("JKagetoriPCB")" asp-area="" asp-controller="JKategoriPCB" asp-action="Index">
                                Kategori PCB
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link border-bottom text-truncate collapsed py-1 ms-3
                @Html.ActiveClass("JAgama")
                @Html.ActiveClass("JBangsa")
                @Html.ActiveClass("JNegeri")
                   @Html.ActiveClass("JCawangan")" href="#submenuJadualsub3" data-toggle="collapse" data-target="#submenuJadualsub3"><span>Pendaftaran</span></a>
                <div class="collapse" id="submenuJadualsub3" aria-expanded="false">
                    <ul class="flex-column nav ps-4">
                        <li class="nav-item">
                            <a class="nav-link border-bottom p-1 text-truncate py-1 ms-3 @Html.ActiveSideBarClass("JAgama")" asp-area="" asp-controller="JAgama" asp-action="Index">
                                Agama
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-1 border-bottom text-truncate py-1 ms-3 @Html.ActiveSideBarClass("JBangsa")" asp-area="" asp-controller="JBangsa" asp-action="Index">
                                Bangsa
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-1 border-bottom text-truncate py-1 ms-3 @Html.ActiveSideBarClass("JNegeri")" asp-area="" asp-controller="JNegeri" asp-action="Index">
                                <span>Negeri</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-1 text-truncate py-1 ms-3 @Html.ActiveSideBarClass("JCawangan")" asp-area="" asp-controller="JCawangan" asp-action="Index">
                                <span>Cawangan</span>
                            </a>
                        </li>
                    </ul>
                </div>

            </li>
        </ul>
    </div>
</li>