<div class="card mb-2">
    <div class="card-body ps-3 pb-2 ">
        <label class="form-control-plaintext" for="searchselect">Carian : </label>

        <div class="form-actions no-color mb-2">
            <form asp-action="Index" method="post">
                <div class="row g-3">
                    <div class="col-sm-9 mb-2">
                        <div class="row g-3">
                            <div class="col-4">
                                <label class="form-label">Nama Pengguna</label>
                            </div>
                            <div class="col-6">
                                <select class="form-control form-control-sm select2" type="text" name="dKonfigKelulusanId">
                                    <option value="">- Pilih Pengguna -</option>
                                    @foreach (var item in ViewBag.DKonfigKelulusan)
                                        {
                                    <option value="@item.Id">@item.DPekerja?.NoGaji - @item.DPekerja?.Nama?.ToUpper()</option>
                                        }
                                </select>
                            </div>
                            <div class="col-2">
                                <button type="submit" class="btn text-info btn-sm" data-toggle="tooltip" data-placement="top" title="Cari"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                        <div class="row g-3">
                            <div class="col-4">
                                <label class="form-label">Katalaluan</label>
                            </div>
                            <div class="col-6">
                                <input class="form-control form-control-sm" type="password" name="password" value="@ViewBag.password" required />
                            </div>
                        </div>
                        <div class="row g-3">
                            <div class="col-4">
                                <label class="form-label">Nama / No Rujukan</label>
                            </div>
                            <div class="col-6">
                                <input class="form-control form-control-sm" type="text" name="searchString" value="@ViewBag.searchString" />
                            </div>
                        </div>
                        <div class="row g-3">
                            <div class="col-4">
                                <label class="form-label">Tarikh</label>
                            </div>
                            <div class="col-6">
                                <div class="row g-3">
                                    <div class="col-6">
                                        <input class="form-control form-control-sm mb-2" type="date" name="searchDate1" value="@ViewBag.searchDate1" />
                                    </div>
                                    <div class="col-6">
                                        <input class="form-control form-control-sm" type="date" name="searchDate2" value="@ViewBag.searchDate2" />
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </form>
        </div>
    </div>
</div>