@model DPekerja

@{
    ViewData["Title"] = "Anggota - Tambah";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card box-shadow">
    <div class="card-body">
        <partial name="~/Views/Partials/Common/_TitleCreateDaftarPartial.cshtml" />

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input name="syscode" value="SPPB" hidden />

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="NoGaji" class="control-label"></label>
                        <input asp-for="NoGaji" class="form-control form-control-sm" value="@ViewBag.NoGaji" />
                        <span asp-validation-for="NoGaji" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="NoKp" class="control-label"></label>
                        <input asp-for="NoKp" class="form-control form-control-sm text-uppercase" />
                        <span asp-validation-for="NoKp" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Nama" class="control-label"></label>
                        <input asp-for="Nama" class="form-control form-control-sm text-uppercase" />
                        <span asp-validation-for="Nama" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="JPTJId" class="control-label"></label>
                <select asp-for="JPTJId" class="form-control form-control-sm text-uppercase" required>
                    <option value="">-- SILA PILIH --</option>
                    @foreach (var item in ViewBag.JPTJ)
                    {
                        <option value="@item.Id">@item.Kod - @item.Perihal</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="JBahagianId" class="control-label"></label>
                <select asp-for="JBahagianId" class="form-control form-control-sm text-uppercase" required>
                    <option value="">-- SILA PILIH --</option>
                    @foreach (var item in ViewBag.JBahagian)
                    {
                        <option value="@item.Id">@item.Kod - @item.Perihal</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="JCawanganId" class="control-label"></label>
                <select asp-for="JCawanganId" class="form-control form-control-sm text-uppercase" required>
                    <option value="">-- SILA PILIH --</option>
                    @foreach (var item in ViewBag.JCawangan)
                    {
                        <option value="@item.Id">@item.Kod - @item.Perihal</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Alamat1" class="control-label"></label>
                <input asp-for="Alamat1" class="form-control form-control-sm text-uppercase mb-2" />
                <input asp-for="Alamat2" class="form-control form-control-sm text-uppercase mb-2" />
                <input asp-for="Alamat3" class="form-control form-control-sm text-uppercase" />
                <span asp-validation-for="Alamat1" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Poskod" class="control-label"></label>
                        <input asp-for="Poskod" class="form-control form-control-sm" />
                        <span asp-validation-for="Poskod" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Bandar" class="control-label"></label>
                        <input asp-for="Bandar" class="form-control form-control-sm text-uppercase" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="JNegeriId" class="control-label"></label>
                        <select asp-for="JNegeriId" class="form-control form-control-sm text-uppercase" required>
                            <option value="">-- SILA PILIH --</option>
                            @foreach (var item in ViewBag.JNegeri)
                            {
                                <option value="@item.Id">@item.Kod - @item.Perihal</option>
                            }
                        </select>
                        <span asp-validation-for="JNegeriId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="JBankId" class="control-label"></label>
                        <select asp-for="JBankId" class="form-control form-control-sm text-uppercase" required>
                            <option value="">-- SILA PILIH --</option>
                            @foreach (var item in ViewBag.JBank)
                            {
                                <option value="@item.Id">@item.Kod - @item.Perihal</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="NoAkaunBank" class="control-label"></label>
                        <input asp-for="NoAkaunBank" class="form-control form-control-sm" />
                        <span asp-validation-for="NoAkaunBank" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="TelefonBimbit" class="control-label"></label>
                        <input asp-for="TelefonBimbit" class="form-control form-control-sm" />
                        <span asp-validation-for="TelefonBimbit" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="TelefonRumah" class="control-label"></label>
                        <input asp-for="TelefonRumah" class="form-control form-control-sm" />
                        <span asp-validation-for="TelefonRumah" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Emel" class="control-label"></label>
                        <input asp-for="Emel" class="form-control form-control-sm text-uppercase" type="email" />
                        <span asp-validation-for="Emel" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Simpan" class="btn ac-primary btn-sm" />
                <a asp-action="Index"
                   asp-route-searchString="@_http.HttpContext?.Session.GetString("searchString")"
                   class="btn ac-secondary btn-sm" style="width:auto">Batal</a>
            </div>
        </form>

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
